export(anota2seqDataSetFromMatrix)
export(anota2seqDataSetFromSE)
export(anota2seqAnalyze)
export(anota2seqRegModes)
export(anota2seqPerformQC)
export(anota2seqSelSigGenes)
export(anota2seqResidOutlierTest)
export(anota2seqRun)
#S4 methods
exportMethods(anota2seqGetNormalizedData)
exportMethods(anota2seqGetCovariates)
exportMethods(anota2seqGetContrasts)
exportMethods(anota2seqGetOutput)
exportMethods(anota2seqGetQualityControl)
exportMethods(anota2seqGetResidOutlierTest)
exportMethods(anota2seqGetDeltaData)
exportMethods(anota2seqGetThresholds)
exportMethods(anota2seqPlotFC)
exportMethods(anota2seqPlotPvalues)
exportMethods(anota2seqPlotGenes)
import(DESeq2)
import(multtest)
import(qvalue)
import(edgeR)
import(RColorBrewer)
import(SummarizedExperiment)
import(methods)
importFrom(limma, voom)
importFrom(stats,contrasts)
  importFrom("grDevices", "dev.off", "jpeg", "pdf")
  importFrom("graphics", "abline", "axis", "barplot", "box", "hist",
             "legend", "lines", "matplot", "mtext", "par", "points",
             "segments", "text")
  importFrom("stats", "IQR", "anova", "contrasts<-", "cor", "density",
             "df", "dfbetas", "ks.test", "lm", "median", "nlm", "pf",
             "pt", "qqnorm", "qqplot", "rf", "rnorm", "var")
  importFrom("utils", "setTxtProgressBar", "txtProgressBar")